<%- include('./partials/head.ejs') %>

<form action="/api/snippets" method="POST">
    <input type="text" name="title" placeholder="Título" required>
    <input type="text" name="snippet" placeholder="Snippet" required>
    <textarea class="body" name="body" placeholder="Cuerpo" required></textarea>
    <input type="submit" class="submit" value="Enviar">
</form>

<%- include('./partials/footer.ejs') %> 